.aboutme {
  background: #f7f7f7;
}

.about-tag p {
  font-size: 18px;
  margin-top: 100px;
}

.aboutme .me {
  text-align: center;
  margin-bottom: 50px;
}

.aboutme .me img {
  margin: 0 auto;
  border: 7px solid white;
}

.aboutme .me h1 {
  line-height: 1.1;
  color: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.aboutme .me h2 {
  text-transform: none;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.75;
  margin: 0 0 10px;
}
