{
  "presets": [
    "react",
    "es2015",
    "stage-0",
    "flow"
  ],
  "plugins": [
    "transform-regenerator",
    "transform-react-jsx-source",
    ["relay", { "schema": "src/data/schema.graphql" }],
    "react-hot-loader/babel",
    ["flow-react-proptypes", { "ignoreNodeModules": true }]
  ],
  "env": {
    "production": {
      "presets": [
        "es2015",
        "react",
        "react-optimize",
        "es2015-native-modules",
        "stage-0",
        "flow"
      ]
    }
  }
}
