{
  "extends": [
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": [
    "flowtype",
    "react",
    "prettier"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-duplicate-imports": 0,
    "import/no-duplicates": 2,
    "import/named": 0,
    "import/no-unresolved": 2,
    "import/order": 2,
    "react/prefer-stateless-function": 2,
    "react/prop-types": [1, { "skipUndeclared": true }],
    "react/display-name": 2,
    "camelcase": 0,
    "flowtype/require-valid-file-annotation": [2, "always"]
  }
}
