@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;600;700&family=Droid+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.graphiql-page {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body.graphiql-page,
body.graphiql-page #graphiql-root,
body.graphiql-page .resume {
  height: 100%;
}

body.graphiql-page {
  margin: 0;
  background: #09141d;
  overflow: hidden;
}

body.graphiql-page #graphiql-root,
body.graphiql-page .resume,
body.graphiql-page .graphiql-container {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
}

body.graphiql-page {
  overflow: hidden;
}

.resume .topBar {
  background: #09141d;
  color: white;
  height: auto;
  border-bottom: none;
}

.resume .doc-explorer-title-bar {
  height: auto;
}

.resume .graphiql-container .toolbar-button {
  background: #09141d;
  color: white;
  transition: background 200ms ease-in-out;
  border: 1px solid white;
}

.resume .graphiql-container .toolbar-button:hover {
  background: #ffffff38;
}

.graphiql-container .execute-button {
  background: transparent;
  box-shadow: none;
  border: 1px solid white;
  color: white;
}

.graphiql-container .execute-button svg {
  fill: white;
}

.graphiql-container .execute-button:hover {
  background: #ffffff38;
}

.resume .graphiql-container .result-window .CodeMirror-gutters {
  border-color: #172a3a;
}

.graphiql-container .execute-options,
.graphiql-container .toolbar-menu-items,
.graphiql-container .toolbar-select-options {
  background: #09141e;
}

.resume .graphiql-container .title a {
  font-size: 32px;
  color: #fed136;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.resume .graphiql-container .title a:hover {
  text-decoration: none;
}

.graphiql-container .variable-editor-title {
  background: #172a3a;
  border: none;
  padding: 10px;
  font-size: 18px;
}

.cm-s-dracula.CodeMirror,
.cm-s-dracula .CodeMirror-gutters {
  background-color: #0f212e !important;
  color: #f8f8f2 !important;
  border: none;
}
.cm-s-dracula .CodeMirror-gutters {
  color: #0f212e;
}
.cm-s-dracula .CodeMirror-cursor {
  border-left: solid thin #f8f8f0;
}
.cm-s-dracula .CodeMirror-linenumber {
  color: #6d8a88;
}
.cm-s-dracula .CodeMirror-selected {
  background: rgba(255, 255, 255, 0.1);
}
.cm-s-dracula .CodeMirror-line::selection,
.cm-s-dracula .CodeMirror-line > span::selection,
.cm-s-dracula .CodeMirror-line > span > span::selection {
  background: rgba(255, 255, 255, 0.1);
}
.cm-s-dracula .CodeMirror-line::-moz-selection,
.cm-s-dracula .CodeMirror-line > span::-moz-selection,
.cm-s-dracula .CodeMirror-line > span > span::-moz-selection {
  background: rgba(255, 255, 255, 0.1);
}
.cm-s-dracula span.cm-comment {
  color: #6272a4;
}
.cm-s-dracula span.cm-string,
.cm-s-dracula span.cm-string-2 {
  color: #f1fa8c;
}
.cm-s-dracula span.cm-number {
  color: #bd93f9;
}
.cm-s-dracula span.cm-variable {
  color: #50fa7b;
}
.cm-s-dracula span.cm-variable-2 {
  color: white;
}
.cm-s-dracula span.cm-def {
  color: #50fa7b;
}
.cm-s-dracula span.cm-operator {
  color: #ff79c6;
}
.cm-s-dracula span.cm-keyword {
  color: #ff79c6;
}
.cm-s-dracula span.cm-atom {
  color: #bd93f9;
}
.cm-s-dracula span.cm-meta {
  color: #f8f8f2;
}
.cm-s-dracula span.cm-tag {
  color: #ff79c6;
}
.cm-s-dracula span.cm-attribute {
  color: #50fa7b;
}
.cm-s-dracula span.cm-qualifier {
  color: #50fa7b;
}
.cm-s-dracula span.cm-property {
  color: #66d9ef;
}
.cm-s-dracula span.cm-builtin {
  color: #50fa7b;
}
.cm-s-dracula span.cm-variable-3,
.cm-s-dracula span.cm-type {
  color: #ffb86c;
}

.cm-s-dracula .CodeMirror-activeline-background {
  background: rgba(255, 255, 255, 0.1);
}
.cm-s-dracula .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}

body.graphiql-page * {
  scrollbar-color: #415161 #0f212e;
  scrollbar-width: thin;
}

body.graphiql-page *::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body.graphiql-page *::-webkit-scrollbar-track {
  background: #0f212e;
}

body.graphiql-page *::-webkit-scrollbar-thumb {
  background: #415161;
  border-radius: 999px;
  border: 2px solid #0f212e;
}

body.graphiql-page *::-webkit-scrollbar-thumb:hover {
  background: #52657a;
}
