.built-with {
  background: #171619;
  color: #bbb;
  padding-top: 40px;
  padding-bottom: 40px;
}

.built-with p {
  margin: 0;
  font-size: 1.3em;
  font-style: italic;
}

.built-with a,
.built-with a:hover {
  color: #e20098;
}
