footer {
  padding: 25px 0;
  text-align: center;
  background: #777;
}

footer span.copyright {
  line-height: 40px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
}

footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
}

.social-buttons {
  margin-bottom: 0;
}

.social-buttons a {
  display: block;
  background-color: #222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.social-buttons a:hover,
.social-buttons a:focus,
.social-buttons a:active {
  background-color: #fed136;
}
