header {
  background-image: url("/public/images/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  height: 100vh;
}

.intro-text {
  padding-top:300px;
  padding-bottom:200px;
}

.intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 25px;
}

.intro-heading {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 76px;
  line-height: 76px;
  margin-bottom: 50px;
}

@media(max-width: 767px) {
  .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .intro-lead-in {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
  }

  .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 50px;
    font-size: 50px;
    margin-bottom: 25px;
  }
}
