services:
  web:
    build:
      context: .
      dockerfile: Dockerfile-development
    ports:
      - "8080:8080"
    volumes:
      - .:/usr/src/app/
      - /usr/src/app/node_modules
    environment:
      NODE_ENV: development
      PORT: 8080
